body{
    background-color: burlywood;
    background-attachment: fixed;
    background-size: 1220px;
    background-image: url("bg-img.jpg");
    background-repeat: no-repeat;
    font-weight: 900;
    font-size: larger;
    color:rgb(5, 242, 191) ;
    font: display 20px; 
    padding: auto;
    
}
h1{
    color: rgb(75, 151, 0);
}
b{
    font-size:larger ;
    font-weight: 900;
}